 nav img{
    width: 10%;
}

.navigation-container{
    background-color:#747093;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    margin: 5px 0;
}

nav a{
    padding: 5px 5px;
    color:black;
    font-size: 2rem;
    justify-content: center;
    margin: 10px;
}


.navigation-container a,
.navigation-container a:link,
.navigation-container a:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-container a:hover,
.navigation-container a:active{
    color:white;
}

body{
    background-color: #420082;
}

.textcontainer{
    background-color: #c6e1ac;
    font-size: 4rem;
}

.icecreamlady{
    width:25%;
    float:left;
}
